AngularExApp\employee-management\node_modules
Assignment1\node_modules
Assignment2\node_modules
Mid-Term Test\mongodb-express-generator-app\node_modules
Week04\express-app\node_modules
Week05\mongodb-express-generator-app\node_modules
Assignment1.zip