/* Students Name: Leonardo dos Santos Nunes
StudentID: 301263098
date: 06/09/2023 */


body{   
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-image: url(../images/header2.jpg);
    background-size: 1200px;   
    display: flex;
    justify-content: center; 

   
}
#mainBody {
    background-color: #ebebebeb;    
    max-width: 730px;
    width: 100%;   
    position: absolute;   
  }
main{      
    padding: 15px;
}
.logo{
    width: 40px;
}
#leo{
    max-width: 300px;
    border: 10px solid;
    border-color: #cf8b2a;
    border-radius: 10px;
}
.aboutme p{
    padding: 10px;
    font-weight: bold;
    margin: 0px;
}

.projects img{
    max-width: 250px;
    max-height: 285px;
}
.projects .col{    
    padding-bottom: 50px;
}

.services img{
    max-width: 150px;
    max-height: 285px;
}

.services p{    
    padding: 10px;
}
