<!-- Students Name: Leonardo dos Santos Nunes
StudentID: 301263098
date: 06/09/2023 -->

<footer>    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">           
            <h6 class="display-12 nav">&copy; copyright 2023. All rights reserved.</h6>
        </div>
</footer>
</div>