<!-- Students Name: Leonardo dos Santos Nunes
StudentID: 301263098
date: 06/09/2023 -->

<div id="mainBody">
<nav class="navbar navbar-expand-lg bg-body-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" class="logo">Leonardo Nunes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/"><i class="fa-sharp fa-solid fa-house" style="color: #cf8b2a;"></i></a>
          <a class="nav-link" href="/about">About me</a>
          <a class="nav-link" href="/projects">Projects</a>
          <a class="nav-link" href="/services">Services</a>
          <a class="nav-link" href="/contact">Contact</a>
          <a class="nav-link" href="https://www.linkedin.com/in/leonardo-nunes-097329a4/" target="_blank"><i class="fa-brands fa-linkedin"style="color: #cf8b2a;"></i> LinkedIn</a>
        </div>
      </div>
    </div>
  </nav>