<!-- Students Name: Leonardo dos Santos Nunes
StudentID: 301263098
date: 06/09/2023 -->

<%- include('partials/header.ejs'); %> 

<%- include('partials/topnav.ejs'); %> 

  <main>
    <h2 class="welcome">WELCOME TO MY PORTFOLIO</h2>
    <br>
    <img class="container animation" src="/images/animation.gif" alt="animation">
    <h3>Mission Statement:</h3>
    <p>"As a programming developer, my mission is to leverage technology to drive positive change by prioritizing the environment, ethics, honesty, and justice. I am committed to creating sustainable solutions that minimize our ecological impact, upholding ethical principles to ensure inclusivity and respect, fostering transparency and trust through honest practices, and working towards a more just and equitable society. Through my work, I aim to leave a lasting impact that advances these values and contributes to the betterment of our world."</p>
  </main>
  
  <%- include('partials/footernav.ejs'); %>

  <%- include('partials/footer.ejs'); %>