<!-- Students Name: Leonardo dos Santos Nunes
StudentID: 301263098
date: 06/09/2023 -->

<%- include('partials/header.ejs'); %> 

<%- include('partials/topnav.ejs'); %> 

<main>
    <h1>OUR SERVICES</h1>
    <div class="services container text-center">
        <div class="row align-items-center">
            <div class="col"><h3>General Programming</h3></div>
            <div class="col"><h3>Mobile Apps</h3></div>
            <div class="col"><h3>Eletronic Design Automation</h3></div>            
            <div class="col"><img src="/images/service/GeneralProgramming.jpg" alt="General Programming"></div>
            <div class="col"><img src="/images/service/mobileApps.jpg" alt="Mobile Apps"></div>
            <div class="col"><img src="/images/service/Automation.jpg" alt="Eletronic Design Automation"></div>
            <div class="col"><p>Our programming service offers comprehensive solutions for software, web, and mobile app development. With expertise in multiple languages and frameworks, we provide end-to-end support for your specific requirements. From planning to deployment, we deliver scalable and efficient solutions tailored to your needs.</p></div>                
            <div class="col"><p>Our mobile app development service creates customized, high-quality apps for iOS and Android. From concept to deployment, we handle every stage of the process, delivering user-friendly, performance-driven solutions across various industries.</p></div>          
            <div class="col"><p>Our electronic design automation service designs and implements advanced solutions for centralized control and automation of electronic systems, enhancing efficiency and convenience.</p></div>                
    </div>
                    
</main>
                
  <%- include('partials/footernav.ejs'); %>

  <%- include('partials/footer.ejs'); %>