<!-- Students Name: Leonardo dos Santos Nunes
StudentID: 301263098
date: 06/09/2023 -->

<%- include('partials/header.ejs'); %> 

<%- include('partials/topnav.ejs'); %> 

  <main class="aboutme">    
    <div class="container text-center">
        <img class="col" id="leo" src="/images/leo.jpg" alt="myself">
        <div class="col">
          <p>My name is Leonardo dos Santos Nunes, and I'm delighted to share a little bit about myself. At 29 years old, I'm currently pursuing my studies in software engineering at Centennial College, where I'm immersing myself in the fascinating world of technology.</p>
          <p>In terms of my educational background, I hold a degree in chemistry from Faculdades Oswaldo Cruz, which has equipped me with a strong foundation in scientific principles. Additionally, I've obtained a Specialization degree in Administration from Fundacao Getulio Vargas, where I gained valuable insights into effective management practices.</p>
          <p>For a significant portion of my professional journey, I dedicated eight years to Sherwin-Williams Company, where I worked as a Chemist Technician. This experience allowed me to develop a meticulous approach to my work, ensuring accurate analyses and precise results. Subsequently, I spent two years as a Research and Development Chemist at Arkema, where I had the opportunity to contribute to innovative projects within the field.</p>
          <p>Driven by a passion for data science, I have acquired knowledge in various tools and libraries such as Pandas, Seaborn, Scikit-learn, and Plotly. I am also familiar with microcontrollers like Raspberry Pi, as well as programming languages such as Python and frameworks like Flask. Additionally, I have proficiency in web technologies such as JavaScript, CSS, and HTML.</p>
          <p>On a personal note, I am happily married to my wife Maria Eugenia, who is an accomplished architect. Together, we cherish our Brazilian heritage and embrace the diverse experiences that life has to offer.</p>
          <a href="/files/Leonardo Nunes-Resume.pdf"><i class="fa-solid fa-file fa-lg" style="color: #cf8b2a;"></i> Leonardo Nunes - Resume</a>
        </div>
    </div>
  </main>
  
  <%- include('partials/footernav.ejs'); %>

  <%- include('partials/footer.ejs'); %>